.categories {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-button {
    border: none;
    outline: none;
    border-radius: 3px;
}

.category-button {
   @apply .my-button;
   margin-left: 10px;
}

.current-category-button {
    @apply --my-button;
    background: #61dafb;
    margin-left: 10px;
}
