.article {
    width: 300px;
    border:1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.image {
    width: 100px;
    height: 100px;
}